.sidebar{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    &__hero{
        display: flex;
        transform: translateX(-100%);
        transition: 0.3s ease-in-out;
    }
    &__hero--active{
        transform: translateX(0);
        transition: 0.3s ease-in-out;
    }
    &__left{
        width: 30%;
        height: 100vh;
        position: fixed;
        top: -100px;
        left: 0;
        background-color: #fff;
        z-index: 10;
    }
    &__right{
        &--overlay{
            width: 70%;
            height: 100vh;
            position: fixed;
            top: -100px;
            right: 0;
            background-color: rgba(0,0,0,.5);
        }
    }
    &__start{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        &--close{
            padding:  8px 12px;
            font-weight: bold;
            font-size: 20px;
        }
        &--title{
            font-size: 35px;
        }
    }
    &__middle{
        position: relative;
        padding: 0 30px;
        &--input{
            width: 100%;
            padding: 12px 20px;
            outline: none;
            border: 2px solid #000;
            border-radius: 10px;
        }
        &--search{
            position: absolute;
            top: 0;
            right: 31px;
            border: 1px solid #000;
            padding: 12px 14px;
            background-color: #000;
            color: #fff;
            border-radius: 0 10px 10px 0;
        }
    }
    &__end{
        padding: 30px;
        display: flex;
        flex-direction: column;
        &--button{
            font-weight: bold;
            font-size: 20px;
            text-align: start;
            padding: 10px;
        }
        &--component{
            width: 100%;
            border: 1px solid transparent !important;
        }
    }
}
.active{
    background-color: #000;
    border-radius: 15px;
}
.active .sidebar__end--button{
    color: #fff;
}
.close{
    transform: translateX(0);
}