.unknown{
    &__card{
        &--img{
            width: 110px;
            height: 110px;
            border-radius: 50%;
            margin-left: 75px;
            margin-bottom: 8px;
        }
        &--value{
            line-height: 22px;
        }
    }
}